<% provide(:title, "日報登録") %>

<h1 class="main-title">Web日報登録</h1>
<form class= "border rounded bg-white form-time-table">
  <h2 class="h3 my-3">月間データ</h2>
  <select class="form-control rounded-pill mb-3" name="date" onchange="submit(this.form)">
    <option value="<% @today.strftime('%Y-%m') %>"><%= @today.strftime('%Y/%m') %></option>
    <% for i in 1..12 %>
      <option value="<%= @today.ago(i.month).strftime('%Y-%m') %>"<%= "selected" if @yyyymm == @today.ago(i.month).strftime('%Y-%m') %>><%= @today.ago(i.month).strftime('%Y/%m') %></option>
    <% end %>
  </select>
  <table class="table table-bordered">
    <thead>
      <tr class="bg-light">
        <th scope="col">日</th>
        <th scope="col">出勤</th>
        <th scope="col">退勤</th>
        <th scope="col">休憩</th>
        <th scope="col">業務内容</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @days.times do |n| %>
        <% date = "#{@yyyymm}-#{format("%02d", n + 1)}".to_date %>
        <% start_time = "" %>
        <% end_time = "" %> 
        <% break_time = "" %>
        <% comment = "" %>
 
          <% @works.each do |work| %>
            <% if work.date == date %>
              <% date = work.date %>
              <% start_time = work.start_time.strftime('%H:%M') if work.start_time != nil %>
              <% end_time = work.end_time.strftime('%H:%M') if work.end_time != nil %> 
              <% break_time = work.break_time if work.break_time != nil %>
              <% comment = work.comment.truncate(20) if work.comment != nil %>              
            <% end %>
          <% end %>
         <tr>
          <th scope="row"><%= date.strftime('%-m/%-d') %>(<%= %w(日 月 火 水 木 金 土)[date.wday] %>)</th>
          <td><%= start_time %></td>
          <td><%= end_time %></td>
          <td><%= break_time %></td>
          <td><%= comment %></td>
          <td><button type="button" class="btn h-auto py-0" data-toggle="modal" data-target="#inputModal" data-day="<%= date.strftime('%Y-%m-%d') %>"><i class="fas fa-pen"></i></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</form>


<!-- Modal -->
<%= form_with model: @work, local: true do |f| %>
<div class="modal fade" id="inputModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p></p>
        <h5 class="modal-title" id="exampleModalLabel">日報登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="alert alert-primary" role="alert">
            <%= @today.strftime('%Y年%m月%d日') %>(<%= %w(日 月 火 水 木 金 土)[@today.wday] %>)
            <%= f.hidden_field :date, value: @today %>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="input-group">
                <%= f.text_field :start_time, id: "modal_start_time", class: "form-control", placeholder: "出勤", value: @modal_start_time %>
                <div class="input-group-prepend">
                  <button type="button" class="input-group-text" id="start_btn">打刻</button>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="input-group">
                <%= f.text_field :end_time, id: "modal_end_time", class: "form-control", placeholder: "退勤", value: @modal_end_time %>
                <div class="input-group-prepend">
                  <button type="button" class="input-group-text" id="end_btn">打刻</button>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="input-group">
                <%= f.text_field :break_time, id: "modal_break_time", class: "form-control rounded", placeholder: "休憩", value: @modal_break_time %>
              </div>
            </div>
          </div>
          <div class="form-group pt-3">
            <%= f.text_area :comment, id: "modal_comment", class: "form-control", size: "40x5", placeholder: "業務内容", value: @modal_comment, maxlength: 200 %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "登録", class: "btn btn-primary rounded-pill px-5" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>  

<script>

// モーダル表示
  if (<%= @modal_view_flg %>) {
    const inputModal = new bootstrap.Modal(document.getElementById('inputModal'));
    inputModal.toggle()
  }

  // 出勤打刻
  $('#start_btn').click(function () {
    const now = new Date();
    const hour = now.getHours().toString().padStart(2, '0');
    const minute = now.getMinutes().toString().padStart(2, '0');
    $('#modal_start_time').val(hour+':'+minute);   
  });
  // 退勤打刻
  $('#end_btn').click(function () {
    const now = new Date();
    const hour = now.getHours().toString().padStart(2, '0');
    const minute = now.getMinutes().toString().padStart(2, '0');
    $('#modal_end_time').val(hour+':'+minute);   
  });

  // 編集モーダル表示
  $('#inputModal').on('show.bs.modal', function(event) {
    const button = $(event.relatedTarget)
    const target_day = button.data('day')

    // 編集ボタンが押された対象日の表データを取得
    const day = button.closest('tr').children('th')[0].innerText
    const start_time = button.closest('tr').children('td')[0].innerText
    const end_time = button.closest('tr').children('td')[1].innerText
    const break_time = button.closest('tr').children('td')[2].innerText
    const comment = button.closest('tr').children('td')[3].innerText

    // 取得したデータをモーダルの各種に設定
    $('#modal_day').val(day)
    $('#modal_start_time').val(start_time)
    $('#modal_end_time').val(end_time)
    $('#modal_break_time').val(break_time)
    $('#modal_comment').val(comment)
  })
</script>