<% provide(:title, "社員編集") %>

<%= render 'shared/error_messages' %>
<h1 class="main-title text-white">Web日報登録</h1>
<%= form_with model: @user, local: true, class: "border rounded bg-white form-login" do |f| %>
  <h2 class="h3 my-3">社員編集（<%= @user.name %>）</h2>
  <div class="field">
    <%= f.text_field :name, class: "form-control rounded-pill mb-3 pt-3", autofocus: true, autocomplete: "email", placeholder: "名前" %>
  </div>
  <div class="field">
    <%= f.text_field :user_no, class: "form-control rounded-pill mb-3", autofocus: true, autocomplete: "email", placeholder: "社員番号 (数字4文字)" %>
  </div>
  <div class="field">
    <%= f.email_field :email, class: "form-control rounded-pill mb-3", autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
  </div>
  <div class="actions">
    <%= f.submit "更新", class: "btn btn-primary rounded-pill px-5 my-4" %>
  </div>
<% end %>