<% provide(:title, "ログイン") %>

  <h1 class="main-title">Web日報登録</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "border rounded bg-white form-login"}) do |f| %>
    <h2 class="h3 my-3">ログイン</h2>
    <div class="field">
      <%= f.text_field :user_no, class: "form-control rounded-pill mb-3", placeholder: "社員番号" %>
    </div>
    <div class="field">
      <%= f.email_field :email, class: "form-control rounded-pill mb-3", placeholder: "メールアドレス" %>
    </div>
    <div class="field">
      <%= f.password_field :password, class: "form-control rounded-pill mb-3", placeholder: "バスワード", autocomplete: "current-password" %>
    </div>
    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-primary rounded-pill px-5 my-4" %>
    </div>
  <% end %>