<% provide(:title, "日報編集") %>

<h1 class="main-title text-white">Web日報登録（<%= current_admin.name %>）</h1>

<!-- Modal 当日勤怠入力用 -->
<%= form_with model: [ :admin, @work ], local: true do |f| %>
<section>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p></p>
        <h5 class="modal-title">日報編集（<%= @user.name %>）</h5>
        <%= link_to :back do %>
          <button class="btn btn-secondary btn-back">戻る</button>
        <% end %>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="alert alert-primary">
            <%= @date.strftime('%Y年%m月%d日') %>(<%= %w(日 月 火 水 木 金 土)[@date.wday] %>)
            <%= f.hidden_field :date, value: @date %>
            <%= f.hidden_field :user_id, value: @user.id %>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="input-group">
                <%= f.text_field :start_time, id: "modal_start_time", class: "form-control", placeholder: "出勤", value: @modal_start_time %>
                <div class="input-group-prepend">
                  <button type="button" class="input-group-text" id="start_btn">打刻</button>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="input-group">
                <%= f.text_field :end_time, id: "modal_end_time", class: "form-control", placeholder: "退勤", value: @modal_end_time %>
                <div class="input-group-prepend">
                  <button type="button" class="input-group-text" id="end_btn">打刻</button>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="input-group">
                <%= f.text_field :break_time, class: "form-control rounded", placeholder: "休憩", value: @modal_break_time %>
              </div>
            </div>
          </div>
          <div class="form-group pt-3">
            <%= f.text_area :comment, class: "form-control", size: "40x5", placeholder: "業務内容", value: @modal_comment, maxlength: 200 %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "更新", class: "btn btn-primary rounded-pill px-5" %>
      </div>
    </div>
  </div>
</section>
<% end %>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>  


<script>
  // 出勤打刻
  $('#start_btn').click(function () {
    const now = new Date();
    const hour = now.getHours().toString().padStart(2, '0');
    const minute = now.getMinutes().toString().padStart(2, '0');
    $('#modal_start_time').val(hour+':'+minute);   
  });
  // 退勤打刻
  $('#end_btn').click(function () {
    const now = new Date();
    const hour = now.getHours().toString().padStart(2, '0');
    const minute = now.getMinutes().toString().padStart(2, '0');
    $('#modal_end_time').val(hour+':'+minute);   
  });
</script>